.element__like_disabled {
    width           : 22px;
    height          : 19px;
    background-image: url(../../../images/LikeDisabled.svg);
    background-color: none;
    margin          : 25px 21px 0 auto;
}

.element__like_disabled:hover {
    cursor: pointer;
}