.avatar__overlay {
    display        : flex;
    width          : 120px;
    height         : 120px;
    background     : rgba(0, 0, 0, .8);
    box-sizing     : border-box;
    overflow       : hidden;
    border-radius  : 50%;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    z-index        : 1;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;

    visibility: hidden;
    opacity   : 0;
    transition: visibility .5s, opacity .5s;

}