.element__trash {
    width           : 18px;
    height          : 19px;
    background      : none;
    background-image: url(../../../images/Trash.svg);
    margin          : 0;
    border          : none;
    position        : absolute;
    top             : 20px;
    right           : 20px;
    z-index         : 1;
    cursor          : pointer;
    transition      : opacity .5s;
}

.element__trash:hover {
    opacity: .6;
}