.popup__save-button-text {
    color      : #FFFFFF;
    font-style : normal;
    font-weight: normal;
    font-size  : 18px;
    line-height: 22px;
    transition : opacity .3s;
    margin     : 0;
}

.popup__save-button-text:hover {
    opacity: .8;
}